<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
  default-autowire="byName">

	<bean id="flacDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/slimserver"/>
		<property name="username" value="slimserver"/>
		<property name="password" value="slimserver"/>
	</bean>

	<bean id="testFlacProvider" class="uk.co.unclealex.music.web.flac.dao.TestFlacProvider"
		init-method="initialise"/>
		
	<bean id="flacTrackDao" class="uk.co.unclealex.music.web.flac.dao.TestFlacTrackDao"/>
	<bean id="flacAlbumDao" class="uk.co.unclealex.music.web.flac.dao.TestFlacAlbumDao"/>
	<bean id="flacArtistDao" class="uk.co.unclealex.music.web.flac.dao.TestFlacArtistDao"/>

	<bean id="slimServerInformationDao"
		class="uk.co.unclealex.music.web.flac.dao.TestSlimServerInformationDao"/>
</beans>

