<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
  default-autowire="byName">

	<bean id="testFlacProvider" class="uk.co.unclealex.music.core.core.flac.dao.TestFlacProvider"
		init-method="initialise"/>
		
	<bean id="flacTrackDao" class="uk.co.unclealex.music.core.core.flac.dao.TestFlacTrackDao"/>
	<bean id="flacAlbumDao" class="uk.co.unclealex.music.core.core.flac.dao.TestFlacAlbumDao"/>
	<bean id="flacArtistDao" class="uk.co.unclealex.music.core.core.flac.dao.TestFlacArtistDao"/>

	<bean id="slimServerInformationDao"
		class="uk.co.unclealex.music.core.core.flac.dao.TestSlimServerInformationDao"/>
</beans>

