<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
  default-autowire="byName">

	<import resource="classpath*:applicationContext-music-core-music-hibernate.xml"/>
	
	<bean id="musicDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
		<property name="url" value="jdbc:hsqldb:mem:."/>
	</bean>

	<bean id="importMusicDirectory" class="java.io.File">
		<constructor-arg value="/tmp/music/import"/>
	</bean>

	<bean id="dataStorageDirectory" class="java.io.File">
		<constructor-arg value="/tmp/music/tracks"/>
	</bean>
	
	<bean id="slimServerConfig" class="uk.co.unclealex.music.test.TestSlimServerConfig">
		<property name="definiteArticles">
			<list>
				<value>The</value>
			</list>
		</property>
	</bean>	
</beans>

