<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
	default-autowire="byName">

	<jee:jndi-lookup id="flacDataSource"
		jndi-name="jdbc/slimserver" resource-ref="true" proxy-interface="javax.sql.DataSource"/>
		
	<bean id="flacSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="flacDataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLInnoDBDialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">none</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>uk.co.unclealex.music.core.core.flac.model.FlacArtistBean</value>
				<value>uk.co.unclealex.music.core.core.flac.model.FlacAlbumBean</value>
				<value>uk.co.unclealex.music.core.core.flac.model.FlacTrackBean</value>
				<value>uk.co.unclealex.music.core.core.flac.model.SlimServerInformationBean</value>
			</list>
		</property>
	</bean>
	
	<bean name="maximumThreads" class="java.lang.Integer">
		<constructor-arg value="8"/>
	</bean>
</beans>
