<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
  default-autowire="byName">

	<import resource="applicationContext-music-core-music-hibernate.xml"/>
	
	<bean id="musicHibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
  		<props>
        <prop key="hibernate.hbm2ddl.auto">update</prop>
        <prop key="hibernate.show_sql">true</prop>
     </props>		
		</property>
	</bean>

	<bean id="musicDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver"/>
		<property name="url" value="jdbc:derby:/tmp/music-temp-db-dir;create=true"/>
	</bean>

	<bean id="deviceService" class="uk.co.unclealex.music.base.service.TestDeviceService"/>
	
	<bean id="slimServerConfig" class="uk.co.unclealex.music.base.TestSlimServerConfig">
		<property name="definiteArticles">
			<list>
				<value>The</value>
			</list>
		</property>
	</bean>
	
	<bean id="abstractRepositoryManager" class="uk.co.unclealex.music.base.service.filesystem.TestRepositoryManager" abstract="true">
		<property name="baseDirectory" value="/"/>
	</bean>
	
	<bean id="fileSystemTitleFormats" class="org.springframework.beans.factory.config.ListFactoryBean">
		<property name="sourceList">
			<list>
				<value>${ext}/${1:artist}/${artist}/${album}/${2:track} - ${title}.${ext}</value>
			</list>
		</property>
	</bean>

</beans>

