<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
  default-autowire="byName">

	<bean id="syncService" class="uk.co.unclealex.music.sync.service.SyncServiceImpl"/>
	<bean id="deviceSyncService" class="uk.co.unclealex.music.sync.service.DeviceSyncServiceImpl"/>
	
	<bean id="synchroniserFactory" class="uk.co.unclealex.music.sync.service.SpringSynchroniserFactory"/>
	<bean id="mtpSynchroniser" class="uk.co.unclealex.music.sync.service.mtp.MtpSynchroniser" scope="prototype"/>
	<bean id="mtpSynchroniser" class="uk.co.unclealex.music.sync.service.mtp.MtpSynchroniser" scope="prototype"/>
	<bean id="mtpSynchroniser" class="uk.co.unclealex.music.sync.service.mtp.MtpSynchroniser" scope="prototype"/>
</beans>


