<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
  default-autowire="byName">
  
  <bean id="coversRepositoryFactory" class="uk.co.unclealex.music.repositoryserver.service.filesystem.ClearableRepositoryFactoryImpl">
	  <!-- <property name="configuration" value="classpath:/repository-covers.xml"/> -->
	  <property name="configuration" value="classpath:/repository.xml"/>
		<property name="homeDir" value="file:/home/java/music/dav/covers"/>
  </bean>
  
	<bean id="coversRepository" class="uk.co.unclealex.music.repositoryserver.service.filesystem.TransientRepositoryFactoryBean">
		<property name="repositoryFactory" ref="coversRepositoryFactory"/>
	</bean>

  <bean id="encodedRepositoryFactory" class="uk.co.unclealex.music.repositoryserver.service.filesystem.ClearableRepositoryFactoryImpl">
	  <!-- <property name="configuration" value="classpath:/repository-encoded.xml"/> -->
	  <property name="configuration" value="classpath:/repository.xml"/>
		<property name="homeDir" value="file:/home/java/music/dav/encoded"/>
	</bean>

	<bean id="encodedRepository" class="uk.co.unclealex.music.repositoryserver.service.filesystem.TransientRepositoryFactoryBean">
		<property name="repositoryFactory" ref="encodedRepositoryFactory"/>
	</bean>

	<bean id="jcrPassword" class="java.lang.String">
		<constructor-arg value="alex"/>
	</bean>
	
	<bean id="abstractJcrSessionFactory" class="org.springmodules.jcr.JcrSessionFactory" abstract="true">
		<property name="credentials">
			<bean class="javax.jcr.SimpleCredentials">
				<constructor-arg value="alex"/>
				<constructor-arg>
					<bean factory-bean="jcrPassword" factory-method="toCharArray"/>
				</constructor-arg>
			</bean>
		</property>
		<property name="sessionHolderProviderManager">
			<bean class="uk.co.unclealex.music.repositoryserver.utils.JackRabbitSessionHolderProviderManager"/>
		</property>
	</bean>
	
	<bean id="coversSessionFactory" parent="abstractJcrSessionFactory">
		<property name="repository" ref="coversRepository"/>
	</bean>
	
	<bean id="coversRepositoryManager" class="uk.co.unclealex.music.repositoryserver.service.filesystem.RepositoryManagerImpl">
		<property name="repositoryAdaptor">
			<bean class="uk.co.unclealex.music.repositoryserver.service.filesystem.CoversRepositoryAdaptor"/>
		</property>
		<property name="sessionFactory" ref="coversSessionFactory"/>
	</bean>
	
	<bean id="encodedSessionFactory" parent="abstractJcrSessionFactory">
		<property name="repository" ref="encodedRepository"/>
	</bean>

	<bean id="encodedRepositoryManager" class="uk.co.unclealex.music.repositoryserver.service.filesystem.RepositoryManagerImpl">
		<property name="repositoryAdaptor">
			<bean class="uk.co.unclealex.music.repositoryserver.service.filesystem.EncodedRepositoryAdaptor">
				<property name="titleFormats">
					<bean class="org.springframework.beans.factory.config.ListFactoryBean">
						<property name="sourceList">
							<list>
								<value>${owner}/${ext}/${1:artist}/${artist}/${album}/${2:track} - ${title}.${ext}</value>
							</list>
						</property>
					</bean>
				</property>
			</bean>
		</property>
		<property name="sessionFactory" ref="encodedSessionFactory"/>
	</bean>
	
	<bean id="jcrEncodedTransactionManager" class="org.springmodules.jcr.jackrabbit.LocalTransactionManager">
		<property name="sessionFactory" ref="encodedSessionFactory"/>
	</bean>
	
	<bean id="jcrCoversTransactionManager" class="org.springmodules.jcr.jackrabbit.LocalTransactionManager">
		<property name="sessionFactory" ref="coversSessionFactory"/>
	</bean>

</beans>


