<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">

	<import resource="classpath*:applicationContext-music-core.xml"/>
	
	<bean id="albumCoverService" class="uk.co.unclealex.music.albumcover.service.AlbumCoverServiceImpl"/>
	
	<bean id="externalCoverArtService" class="uk.co.unclealex.music.albumcover.service.AmazonExternalCoverArtService"/>
	
	<bean id="signedRequestsService" class="uk.co.unclealex.music.albumcover.service.SignedRequestsServiceImpl" init-method="initialise">
		<property name="awsAccessKeyId" value="1GK0A6KVNQEFVH5Q1Z82"/>
		<property name="awsSecretKey" value="jq/BOXh4dOYXsso3jn/N8FGF7/40YCPHmTyas1ZF"/>
		<property name="endpoint" value="ecs.amazonaws.co.uk"/>
	</bean>	
</beans>
