<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">

  <context:component-scan
  	base-package="uk.co.unclealex.music.albumcover"
  	name-generator="uk.co.unclealex.spring.BeanNameGenerator"
  	scope-resolver="uk.co.unclealex.spring.AnnotationScopeMetadataResolver"/>

	<bean id="amazonService" class="uk.co.unclealex.music.albumcover.AmazonServiceImpl">
		<property name="accessKey" value="1GK0A6KVNQEFVH5Q1Z82"/>
		<property name="subscriberId" value="alex.jones@unclealex.co.uk"/>
	</bean>
		
	
</beans>
