<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd"
  default-autowire="byName">
  
  <!-- 
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
	 -->
	 
	<bean id="titleFormatFactory" class="uk.co.unclealex.music.core.service.titleformat.TitleFormatFactoryImpl">
		<property name="defaultTitleFormat">
			<value>${1:artist}/${artist}/${album}/${2:track} - ${title}.${ext}</value>
		</property>
	</bean>

	<bean id="fileSystemTitleFormats" class="org.springframework.beans.factory.config.ListFactoryBean">
		<property name="sourceList">
			<list>
				<value>${owner}/${ext}/${1:artist}/${artist}/${album}/${2:track} - ${title}.${ext}</value>
			</list>
		</property>
	</bean>
	
	<bean id="titleFormat" factory-bean="titleFormatFactory" factory-method="getDefaultTitleFormat"/>
	
	<bean id="slimserverConfigFile" class="java.io.File">
		<constructor-arg value="/var/lib/squeezecenter/prefs/server.prefs"/>
	</bean>
	
	<bean id="abstractRepositoryManager" class="uk.co.unclealex.music.core.service.filesystem.RepositoryManagerImpl" abstract="true">
		<property name="baseDirectory" value="/home/java/music"/>
	</bean>
	
	<bean id="coversRepositoryManager" parent="abstractRepositoryManager">
		<property name="repositoryAdaptor">
			<bean class="uk.co.unclealex.music.core.service.filesystem.CoversRepositoryAdaptor"/>
		</property>
		<property name="repositoryRootPath" value="covers"/>
		<property name="dataExtractor" ref="albumCoverDataExtractor"/>
	</bean>
	
	<bean id="encodedRepositoryManager" parent="abstractRepositoryManager">
		<property name="repositoryAdaptor">
			<bean class="uk.co.unclealex.music.core.service.filesystem.EncodedRepositoryAdaptor">
				<property name="titleFormats" ref="fileSystemTitleFormats"/>
			</bean>
		</property>
		<property name="repositoryRootPath" value="encoded"/>
		<property name="dataExtractor" ref="encodedTrackDataExtractor"/>
	</bean>

	<alias name="albumThumbnailDataManager" alias="albumThumbnailDataInjector"/>
	<alias name="albumCoverDataManager" alias="albumCoverDataInjector"/>
	<alias name="encodedTrackDataManager" alias="encodedTrackDataInjector"/>
	
	<alias name="albumThumbnailDataManager" alias="albumThumbnailDataExtractor"/>
	<alias name="albumCoverDataManager" alias="albumCoverDataExtractor"/>
	<alias name="encodedTrackDataManager" alias="encodedTrackDataExtractor"/>

  <context:component-scan
  	base-package="uk.co.unclealex.music"
  	name-generator="uk.co.unclealex.spring.BeanNameGenerator"
  	scope-resolver="uk.co.unclealex.spring.AnnotationScopeMetadataResolver"/>

</beans>


