<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-autowire="byName">

	<jee:jndi-lookup id="flacDataSource"
		jndi-name="jdbc/slimserver" resource-ref="true" proxy-interface="javax.sql.DataSource"/>
		
	<bean id="flacSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="flacDataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLInnoDBDialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">none</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>uk.co.unclealex.music.core.flac.model.FlacArtistBean</value>
				<value>uk.co.unclealex.music.core.flac.model.FlacAlbumBean</value>
				<value>uk.co.unclealex.music.core.flac.model.FlacTrackBean</value>
				<value>uk.co.unclealex.music.core.flac.model.SlimServerInformationBean</value>
			</list>
		</property>
	</bean>

	<bean id="flacTrackDao"
		class="uk.co.unclealex.music.core.flac.dao.HibernateFlacTrackDao">
		<property name="sessionFactory" ref="flacSessionFactory" />
	</bean>

	<bean id="flacAlbumDao"
		class="uk.co.unclealex.music.core.flac.dao.HibernateFlacAlbumDao">
		<property name="sessionFactory" ref="flacSessionFactory" />
	</bean>

	<bean id="flacArtistDao"
		class="uk.co.unclealex.music.core.flac.dao.HibernateFlacArtistDao">
		<property name="sessionFactory" ref="flacSessionFactory" />
	</bean>

	<bean id="slimServerInformationDao"
		class="uk.co.unclealex.music.core.flac.dao.HibernateSlimServerDao">
		<property name="sessionFactory" ref="flacSessionFactory" />
	</bean>

	<bean id="slimServerService"
		class="uk.co.unclealex.music.core.flac.service.SlimServerServiceImpl" />
	<bean id="slimServerConfig"
		class="uk.co.unclealex.music.core.FileSlimServerConfig"
		init-method="initialise">
		<property name="configFile"
			value="/etc/slimserver/slimserver.pref" />
	</bean>

	<jee:jndi-lookup id="dataSource"
		jndi-name="jdbc/music" resource-ref="true" proxy-interface="javax.sql.DataSource"/>
		

	<tx:annotation-driven/>

	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.dialect">
					uk.co.unclealex.music.core.hibernate.LongBlobOnlyMySQL5Dialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="annotatedClasses">
			<list>
				<value>uk.co.unclealex.music.core.model.EncodedTrackBean</value>
				<value>uk.co.unclealex.music.core.model.TrackDataBean</value>
				<value>uk.co.unclealex.music.core.model.EncoderBean</value>
				<value>uk.co.unclealex.music.core.encoded.model.OwnedAlbumBean</value>
				<value>uk.co.unclealex.music.core.encoded.model.OwnedArtistBean</value>
				<value>uk.co.unclealex.music.core.model.OwnerBean</value>
				<value>uk.co.unclealex.music.core.model.DeviceBean</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"/>

	<bean id="hibernateSessionExecutor" class="uk.co.unclealex.music.core.hibernate.HibernateSessionExecutor">
		<property name="asynchronous" value="false"/>
	</bean>
	
	<bean id="encodedTrackDao" class="uk.co.unclealex.music.core.dao.HibernateEncodedTrackDao">
		<property name="maximumUrlsPerQuery" value="2000"/>
	</bean>

	<bean id="trackDataDao" class="uk.co.unclealex.music.core.dao.HibernateTrackDataDao"/>

	<bean id="ownerDao" class="uk.co.unclealex.music.core.dao.HibernateOwnerDao"/>

	<bean id="deviceDao" class="uk.co.unclealex.music.core.dao.HibernateDeviceDao"/>
 	
	<bean id="encoderDao" class="uk.co.unclealex.music.core.dao.HibernateEncoderDao"/>

	<bean id="encoderService" class="uk.co.unclealex.music.core.encoded.service.EncoderServiceImpl">
		<property name="maximumThreads" value="4"/>
	</bean>

	<bean
		id="singleEncoderService"
		class="uk.co.unclealex.music.core.encoded.service.SingleEncoderServiceImpl">
		<property name="maximumTrackDataLength" value="1048576"/>
	</bean>

	<bean id="trackStreamService" class="uk.co.unclealex.music.core.service.TrackStreamServiceImpl"/>

	<bean
		id="trackDataStreamIteratorFactory"
		class="uk.co.unclealex.music.core.service.SpringTrackDataStreamIteratorFactory"/>
		
	<bean
		id="trackDataInputStreamIterator"
		class="uk.co.unclealex.music.core.service.TrackDataInputStreamIteratorImpl"
		scope="prototype" autowire-candidate="false"/>
			
	<bean
		id="trackDataOutputStreamIterator"
		class="uk.co.unclealex.music.core.service.TrackDataOutputStreamIteratorImpl"
		scope="prototype" autowire-candidate="false"/>

	<bean id="ownerService"
		class="uk.co.unclealex.music.core.service.OwnerServiceImpl" />

	<bean id="deviceService"
		class="uk.co.unclealex.music.core.service.DeviceServiceImpl" />

	<bean id="devicesWriterFactory" class="uk.co.unclealex.music.core.service.SpringDevicesWriterFactory"/>
	<bean 
		id="devicesWriter"
		class="uk.co.unclealex.music.core.service.DevicesWriterImpl"
		scope="prototype" autowire-candidate="false"/>

	<bean 
		id="fileSystemService" 
		class="uk.co.unclealex.music.core.encoded.service.FileSystemServiceImpl"
		init-method="initialise">
		<property name="titleFormat">
			<value>${ext}/${1:artist}/${artist}/${album}/${2:track} - ${title}.${ext}</value>
		</property>
	</bean>
		
	<bean id="downloadCartService"
	  class="uk.co.unclealex.music.core.flac.service.DownloadCartServiceImpl"/>

	<bean id="processService"
		class="uk.co.unclealex.music.core.process.service.ProcessServiceImpl" />

	<bean id="initialiser"
		class="uk.co.unclealex.music.core.encoded.initialise.InitialiserImpl">
		<property name="trackImporter">
			<bean class="uk.co.unclealex.music.core.encoded.initialise.TrackImporterImpl"/>
		</property>
	</bean>

	<bean id="zipTrackStream"
		class="uk.co.unclealex.music.core.encoded.writer.ZipTrackStreamImpl"
		scope="prototype" autowire-candidate="false"/>
	<bean id="fileTrackStream"
		class="uk.co.unclealex.music.core.encoded.writer.FileTrackStreamImpl"
		scope="prototype" autowire-candidate="false" />
	<bean id="trackWriter"
		class="uk.co.unclealex.music.core.encoded.writer.TrackWriterImpl"
		scope="prototype" autowire-candidate="false" />
	<bean id="trackWriterFactory"
		class="uk.co.unclealex.music.core.encoded.writer.SpringTrackWriterFactory" />

	<bean 
		id="progressWritingListenerService"
		class="uk.co.unclealex.music.core.service.ProgressWritingListenerServiceImpl"/>
	
	<bean id="userService"
		class="uk.co.unclealex.music.core.security.service.FlacConverterUserService" />

	<bean id="titleFormatFactory" class="uk.co.unclealex.music.core.service.titleformat.TitleFormatFactoryImpl">
		<property name="defaultTitleFormat">
			<value>${1:artist}/${artist}/${album}/${2:track} - ${title}.${ext}</value>
		</property>
	</bean>
	
	<bean id="titleFormat" factory-bean="titleFormatFactory" factory-method="getDefaultTitleFormat"/>
			
	<bean id="partitioner" class="uk.co.unclealex.music.core.util.Partitioner"/>
	
	<bean id="titleFormatServiceFactory" 
		class="uk.co.unclealex.music.core.service.titleformat.SpringTitleFormatServiceFactory"/>

	<bean id="titleFormatService" scope="prototype" autowire-candidate="false"
		class="uk.co.unclealex.music.core.service.titleformat.TitleFormatServiceImpl"/>
			
	<bean id="webSecurityRules" class="java.lang.String" autowire-candidate="false">
		<constructor-arg>
			<value>
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT
				/*=IS_AUTHENTICATED_ANONYMOUSLY
				/*.html=ROLE_USER
				/*.zip=ROLE_USER
			</value>
		</constructor-arg>
	</bean>	
</beans>


