<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="byName">
	
	<bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
    <property name="scheduledTimerTasks">
        <list>
					<bean id="scheduledTask" class="uk.co.unclealex.flacconverter.spring.ScheduledTimerTask">
				    <property name="next" value="02:00:00" />
				    <property name="period" value="86400000" />
				    <property name="timerTask">
				    	<bean class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
				    		<property name="targetObject" ref="encoderService" />
				    		<property name="targetMethod" value="encodeAllAndRemoveDeleted" />
							</bean>
				    </property>
					</bean>
        </list>
    </property>
	</bean>
</beans>

