<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd"
  default-autowire="byName">
  
  <!-- 
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
	 -->
	 
	<jee:jndi-lookup id="musicDataSource"
		jndi-name="jdbc/music" resource-ref="true" proxy-interface="javax.sql.DataSource"/>
		
	<tx:annotation-driven/>

 	<bean id="defaultLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler">
 		<property name="streamAsLob" value="true"/>
 		<!-- property name="wrapAsLob" value="true"/ -->
 	</bean>

 <!-- Hibernate SessionFactory -->
	<bean id="musicHibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
	</bean>

	<bean id="musicSessionFactory" class="uk.co.unclealex.spring.SessionDuringStartupSessionFactoryBean">
		<property name="sessionFactory">
			<bean class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
				<property name="lobHandler" ref="defaultLobHandler"/>
				<property name="dataSource" ref="musicDataSource"/>
				<property name="hibernateProperties" ref="musicHibernateProperties"/>
				<property name="annotatedClasses">
					<list>
						<value>uk.co.unclealex.music.base.model.EncodedTrackBean</value>
						<value>uk.co.unclealex.music.base.model.EncoderBean</value>
						<value>uk.co.unclealex.music.base.model.EncodedAlbumBean</value>
						<value>uk.co.unclealex.music.base.model.EncodedArtistBean</value>
						<value>uk.co.unclealex.music.base.model.OwnerBean</value>
						<value>uk.co.unclealex.music.base.model.DeviceBean</value>
						<value>uk.co.unclealex.music.base.model.AlbumCoverBean</value>
					</list>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="musicSessionFactory"/>
	</bean>

	<bean id="hibernateSessionExecutor" class="uk.co.unclealex.hibernate.HibernateSessionExecutor">
		<property name="sessionFactory" ref="musicSessionFactory"/>
	</bean>	
</beans>


