<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
  default-autowire="byName">

	<tx:annotation-driven/>
	
	<!-- Bean post-processors -->
	
	<bean class="uk.co.unclealex.music.core.spring.PackageCheckingPostProcessor"/>
	
	<!-- DAO definitions -->
	
 	<bean id="defaultLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler">
 		<property name="streamAsLob" value="true"/>
 		<!-- property name="wrapAsLob" value="true"/ -->
 	</bean>

 <!-- Hibernate SessionFactory -->
	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.connection.characterEncoding">utf8</prop>
			</props>
		</property>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="musicDataSource"/>
		<property name="entityInterceptor">
			<bean class="uk.co.unclealex.hibernate.HibernateTransactionalFileSystemInterceptor"/>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>uk.co.unclealex.music.base.model.EncodedTrackBean</value>
				<value>uk.co.unclealex.music.base.model.EncoderBean</value>
				<value>uk.co.unclealex.music.base.model.EncodedAlbumBean</value>
				<value>uk.co.unclealex.music.base.model.EncodedArtistBean</value>
				<value>uk.co.unclealex.music.base.model.OwnerBean</value>
				<value>uk.co.unclealex.music.base.model.AlbumCoverBean</value>
				<value>uk.co.unclealex.music.base.model.EncodedTrackFileBean</value>
				<value>uk.co.unclealex.music.base.model.DirectoryFileBean</value>
				<value>uk.co.unclealex.hibernate.model.DataBean</value>
				<value>uk.co.unclealex.music.base.model.DeviceBean</value>
				<value>uk.co.unclealex.music.base.model.FileSystemDeviceBean</value>
				<value>uk.co.unclealex.music.base.model.MtpDeviceBean</value>
				<value>uk.co.unclealex.music.base.model.IpodDeviceBean</value>
				<value>uk.co.unclealex.music.base.model.DeviceFileBean</value>
			</list>
		</property>
	</bean>

	<bean id="importMusicDirectory" class="java.io.File">
		<constructor-arg value="/home/java/music/import"/>
	</bean>

	<bean id="encodedMusicStorageDirectory" class="java.io.File">
		<constructor-arg value="/home/java/music/tracks"/>
	</bean>
	
	<bean id="transactionManager" class="uk.co.unclealex.hibernate.HibernateTransactionalFileSystemTransactionManager"/>

	<bean id="hibernateSessionExecutor" class="uk.co.unclealex.hibernate.HibernateSessionExecutor"/>
	
	<bean id="dataDao" class="uk.co.unclealex.hibernate.dao.HibernateDataDao"/>

	<bean id="fileDao" class="uk.co.unclealex.music.core.dao.HibernateFileDao"/>
	<bean id="encoderDao" class="uk.co.unclealex.music.core.dao.HibernateEncoderDao"/>
	<bean id="encodedAlbumDao" class="uk.co.unclealex.music.core.dao.HibernateEncodedAlbumDao"/>
	<bean id="encodedArtistDao" class="uk.co.unclealex.music.core.dao.HibernateEncodedArtistDao"/>
	<bean id="encodedTrackDao" class="uk.co.unclealex.music.core.dao.HibernateEncodedTrackDao"/>
	<bean id="albumCoverDao" class="uk.co.unclealex.music.core.dao.HibernateAlbumCoverDao"/>
	<bean id="ownerDao" class="uk.co.unclealex.music.core.dao.HibernateOwnerDao"/>
	<bean id="deviceDao" class="uk.co.unclealex.music.core.dao.HibernateDeviceDao"/>
	<bean id="deviceFileDao" class="uk.co.unclealex.music.core.dao.HibernateDeviceFileDao"/>
	
	<!-- Service definitions -->
	<bean id="initialiser" class="uk.co.unclealex.music.core.initialise.InitialiserImpl"/>
	<bean id="processService" class="uk.co.unclealex.music.ProcessServiceImpl"/>
	<bean id="slimServerService" class="uk.co.unclealex.music.core.service.SlimServerServiceImpl"/>
	<bean id="ownerService" class="uk.co.unclealex.music.core.service.OwnerServiceImpl"/>
	<bean id="flacService" class="uk.co.unclealex.music.core.service.FlacServiceImpl"/>
	<bean id="encodedService" class="uk.co.unclealex.music.core.service.EncodedServiceImpl"/>
	<bean id="filenameService" class="uk.co.unclealex.music.core.service.FilenameServiceImpl"/>
	<bean id="dataService" class="uk.co.unclealex.music.core.service.DataServiceImpl" init-method="initialise"/>
	
	<bean id="titleFormatService" class="uk.co.unclealex.music.core.service.titleformat.TitleFormatServiceImpl">
		<property name="titleFormat">
			<value>${owner}/${ext}/${1:artist}/${artist}/${album}/${2:track} - ${title}.${ext}</value>
		</property>
	</bean>
	
	<bean id="fileSystemService" class="uk.co.unclealex.music.core.service.filesystem.FileSystemServiceImpl"/>
</beans>


