@(content: String)
<!DOCTYPE html>
<html>
    <head>
        <title>Flac Manager</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/markdown.css")">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="@routes.Icons.at("apple-touch-icon.png")">
        <link rel="icon" type="image/png" href="@routes.Icons.at("favicon-32x32.png")" sizes="32x32">
        <link rel="icon" type="image/png" href="@routes.Icons.at("favicon-16x16.png")" sizes="16x16">
        <link rel="manifest" href="@routes.Icons.at("manifest.json")">
        <link rel="mask-icon" href="@routes.Icons.at("safari-pinned-tab.svg")" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <section class="content markdown-body">@Html(content)</section>
    </body>
</html>